<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <title>Login</title>
</head>
<body>
    <header>
        <div class="contenedor-tablet-desktop">
            <div class="logo">
                <a href="/" class="logo-mercadoLiebre"><img src="/images/logo-mercado-liebre.svg"
                        alt="Logo de Mercado Liebre"></a>

                <div class="busqueda">
                    <input type="text" placeholder="Buscar producto, marcas">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>


            </div>

            <p class="formas-de-pago"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>

        <nav>
            <ul class="lista-superior">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="lista-inferior">
                <li><a href="/Register">Creá tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                <li><a href="/Login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

<main>
    <form action="/Login">
        <div class="form">
            <!-- Nombre de usuario -->
             <div class="inputContainer">
                <input class="inputStyle" type="text" placeholder="Nombre de usuario" name="NombreDeUsuario" minlength="2">
                <span class="errorMensage">Debe ingresar su Nombre de usuario</span>
             </div>
            <!-- Contraseña -->
             <div class="inputContainer">
                <input class="inputStyle" type="password" placeholder="Ingresa tu contraseña" name="Password" minlength="5">
                <span class="errorMensage">Debe Ingresar su contraseña</span>
             </div>
             <div class="buttonContainer">
                <span class="btn">
                    <button type="submit" name="Enviar" value="Enviar" class="btn-enviar" class="btn-enviar"><a href="/"> Enviar</a></button>
                </span>
             </div>
        </div>
    </form>
</main>

<footer>
    <section class="footer">
        <article>
            <div class="iconos"><i class="fa-solid fa-credit-card"></i></div>
            <h4></i>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es
                seguro!</p>
        </article>

        <article>
            <div class="iconos"><i class="fa-solid fa-gift"></i></div>
            <h4></i>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                beneficio de
                Mercado Puntos.</p>
        </article>

        <article>
            <div class="iconos"><i class="fa-solid fa-user-shield"></i></div>
            <h4></i>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
    </section>

    <span>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>


</footer>

</body>
</html>